.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-zow5z4-MuiGrid-root {
  display: block;
}

.categories-image {
  position: relative !important;
  width: 40px !important;
  height: 40px !important;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: -16px;
  border-radius: 50%;
  border: 2px solid #e97c37;
}

ul.MuiList-root.css-vcs5-MuiList-root {
  margin-left: 25px;
  margin-top: 3px;
}

.flex-container {
  display: flex;
  align-items: left;
}
.category-list ul a {
  position: relative;
  top: -5px;
}
